aclocal.m4
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
Makefile
Makefile.in
missing
stamp-h1
autom4te.cache
.deps
*~
*.o
*.so
*.lo
*.la
.libs
src/wfits
src/wayland-test
src/efl/wayland-efl-test
test-driver
